<section class="currentDestination" *ngIf="destination">
  <h1>{{ destination.destination }}</h1>
  <img [src]="sanitizeImageUrl(destination.imageUrl)" alt="Image" />
  <h3>{{ destination.type }} trip</h3>
  <p>{{ destination.description }}</p>

  <button
    class="likeBtn"
    [disabled]="isLikeButtonDisabled"
    (click)="likeDestinationHandler()"
  >
    Like
  </button>

  <ng-container *ngIf="userId === destination._ownerId">
    <button (click)="editDestination()">edit</button>
    <button (click)="deleteDestination()">delete</button>
  </ng-container>
</section>
