<section class="rec-places">
  <header class="places-header" *ngIf="!isLoading">
    <h2>Most famous {{ destinationType }}</h2>
    <p>Recommended</p>
  </header>

  <div *ngIf="isLoading">
    <app-loader />
  </div>

  <div class="places-container" *ngIf="!isLoading">
    <article *ngFor="let destination of destinationList">
      <img [src]="sanitizeImageUrl(destination.imageUrl)" alt="Image" />

      <h5>{{ destination.destination }}</h5>

      <p>
        {{ destination.description }}
      </p>

      <a
        [routerLink]="destination._id"
        #discoverPlaceLink
        (click)="scrollToDestination()"
        >Discover place</a
      >
    </article>
  </div>
  <app-back-to-top-button></app-back-to-top-button>
</section>
