<div class="login">
  <form class="loginForm" #form="ngForm" (ngSubmit)="loginHandler(form)">
    <h2>Have an acccount?</h2>

    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      ngModel
      required
      #inputEmail="ngModel"
      email
    />

    <ng-container *ngIf="inputEmail.touched">
      <p *ngIf="inputEmail.errors?.['required']">Email is required</p>
      <p *ngIf="inputEmail.errors?.['email']">Email is not valid</p>
    </ng-container>

    <label for="password">Password</label>
    <input
      type="text"
      id="password"
      name="password"
      ngModel
      required
      #inputPassword="ngModel"
    />
    <ng-container *ngIf="inputPassword.touched">
      <p *ngIf="inputPassword.errors?.['required']">Password is required</p>
    </ng-container>

    <button [disabled]="form.invalid">Login</button>
  </form>
</div>
