<section class="rec-places" *ngIf="likedDestinations.length == 0">
  <header class="places-header">
    <h2>Recend liked</h2>
    <p>You dont have liked destinations</p>
  </header>
</section>

<section class="main-section">
  <article class="rec-places" *ngIf="likedDestinations.length > 0">
    <header class="places-header">
      <h2>Recend liked</h2>
    </header>

    <div *ngIf="isLoading">
      <app-loader />
    </div>

    <div class="places-container" *ngIf="!isLoading">
      <article *ngFor="let destination of likedDestinations">
        <img [src]="sanitizeImageUrl(destination.imageUrl)" alt="Image" />

        <h5>{{ destination.destination }}</h5>

        <a [routerLink]="destination._id">Discover place</a>
      </article>
    </div>
  </article>

  <article class="posts-container">
    <header class="places-header">
      <h2>My posts</h2>
    </header>

    <div class="posts-list">
      <article *ngFor="let destination of myDestinations">
        <h3>{{ destination.destination }}</h3>
        <img [src]="sanitizeImageUrl(destination.imageUrl)" alt="Image" />

        <div class="buttons">
          <button>Edit</button>
          <button>Delete</button>
        </div>
      </article>
    </div>
  </article>
</section>
