<section class="rec-places">
  <header class="places-header">
    <h2>Most famous places</h2>
    <p>Recommended</p>
  </header>

  <div *ngIf="isLoading">
    <app-loader />
  </div>

  <div class="places-container" *ngIf="!isLoading">
    <article *ngFor="let destination of destinationList">
      <img [src]="sanitizeImageUrl(destination.imageUrl)" alt="Image" />
      <h5>{{ destination.title }}</h5>
      <p>
        {{ destination.description }}
      </p>

      <a href="#">Discover place</a>
    </article>
  </div>
</section>
