<section class="currentDestination" *ngIf="destination">
  <div class="title-img">
    <h1>{{ destination.destination }}</h1>
    <img [src]="sanitizeImageUrl(destination.imageUrl)" alt="Image" />

    <p class="likes-count">{{ destination.likes.length }} likes</p>
  </div>

  <div class="char">
    <div class="description">
      <h3>Destinatio type: {{ destination.type }}</h3>
      <h4>Description:</h4>
      <p>{{ destination.description }}</p>
    </div>

    <ul class="buttons">
      <li>
        <button
          class="likeBtn"
          (click)="likeDestinationHandler()"
          #likeButton
          class="like-btn"
          *ngIf="userId"
        >
          {{ isLiked ? "Unlike" : "Like" }}
        </button>
      </li>
      <ng-container *ngIf="userId === destination._ownerId">
        <li>
          <button class="edit-btn" (click)="editDestination()">edit</button>
        </li>
        <li>
          <button class="delete-btn" (click)="deleteDestination()">
            delete
          </button>
        </li>
      </ng-container>
      <li>
        <button class="list-btn" (click)="goBack()">Back</button>
      </li>
    </ul>

    <div class="buttons"></div>
  </div>
</section>
