<footer class="site-footer">
  <h1>Travel tips</h1>

  <ul class="options">
    <li>Find Photogenic Places & Spots Using Instagram</li>
    <li>Learn Common Phrases of the Local Language</li>
    <li>Read a History Book About the Place You Are Visiting</li>
    <li>Get to Know Local Customs Before You Go</li>
  </ul>

  <ul class="contacts">
    <li>Don’t Be Afraid to Take Your Kids with You</li>
    <li>Let Your Family and Friends at Home Know Your Plans</li>
    <li>Research Your Destination</li>
    <li>Be Flexible and Don’t Over-Plan</li>
  </ul>
</footer>
