<footer class="site-footer">
  <h1>Travel tips</h1>

  <ul class="options">
    <li><a href="#">Find Photogenic Places & Spots Using Instagram</a></li>
    <li><a href="#"> Learn Common Phrases of the Local Language</a></li>
    <li>
      <a href="#">Read a History Book About the Place You Are Visiting</a>
    </li>
    <li><a href="#">Get to Know Local Customs Before You Go</a></li>
  </ul>

  <ul class="contacts">
    <li><a href="#">Don’t Be Afraid to Take Your Kids with You</a></li>
    <li><a href="#">Let Your Family and Friends at Home Know Your Plans</a></li>
    <li><a href="#">Research Your Destination</a></li>
    <li><a href="">Be Flexible and Don’t Over-Plan</a></li>
  </ul>
</footer>
