<footer class="site-footer">
  <h1>Travel</h1>

  <ul class="options">
    <li><a href="#">Tour packages</a></li>
    <li><a href="#">Personalized offers</a></li>
    <li><a href="#">Special deals</a></li>
    <li><a href="#">Summer holiday</a></li>
  </ul>

  <ul class="contacts">
    <li><a href="#">About us</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Terms and conditions</a></li>
    <li><a href="">Contact</a></li>
  </ul>

  <div class="socials">
    <p>Follow us on</p>
    <div class="icons">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
  </div>
</footer>
