<div class="register">
  <form class="registerForm" [formGroup]="form" (ngSubmit)="registerHandler()">
    <h2>Register</h2>

    <label for="email">Email</label>
    <input type="text" id="email" name="email" formControlName="email" />

    <ng-container *ngIf="form.get('email')?.touched">
      <p *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
      <p *ngIf="form.get('email')?.errors?.['minlength']">
        Email sould be at least 5 symbols
      </p>
    </ng-container>

    <ng-container formGroupName="passGroup">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
      />
      <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
        <p *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']">
          Password is required
        </p>
        <p
          *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']"
        >
          Password should be at least 5 sumbols!
        </p>
      </ng-container>

      <label for="password">Repeat password</label>
      <input
        type="password"
        id="rePassword"
        name="rePassword"
        formControlName="rePassword"
      />
      <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
        <p
          *ngIf="form.get('passGroup')?.get('rePassword')?.errors?.['required']"
        >
          Repeat password is required
        </p>
        <p
          *ngIf="form.get('passGroup')?.get('rePassword')?.errors?.['minlength']"
        >
          Repeat password should be at least 5 sumbols!
        </p>
        <p *ngIf="form.get('passGroup')?.errors?.['passwordsValidator']">
          Passwords do not match!
        </p>
      </ng-container>
    </ng-container>

    <button [disabled]="form.invalid">Register</button>
  </form>
</div>
