<div class="register">
  <form class="registerForm" [formGroup]="form" (ngSubmit)="registerHandler()">
    <h2>Register</h2>

    <label for="email">Email</label>
    <input type="text" id="email" name="email" formControlName="email" />

    <ng-container *ngIf="form.get('email')?.touched">
      <p *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
      <p *ngIf="form.get('email')?.errors?.['minlength']">
        Email sould be at least 5 symbols
      </p>
    </ng-container>

    <ng-container formGroupName="passGroup">
      <label for="password">Password</label>
      <input
        type="text"
        id="password"
        name="password"
        formControlName="password"
      />
      <!-- <ng-container *ngIf="inputPassword.touched">
          <p *ngIf="inputPassword.errors?.['required']">Password is required</p>
        </ng-container> -->

      <label for="password">Repeat password</label>
      <input
        type="text"
        id="rePassword"
        name="rePassword"
        formControlName="rePassword"
      />
      <!-- <ng-container *ngIf="inputrePassword.touched">
          <p *ngIf="inputrePassword.errors?.['required']">
            Repeat password is required
          </p>
        </ng-container> -->
    </ng-container>

    <div>
      {{ form.value | json }}
    </div>

    <button [disabled]="form.invalid">Register</button>
  </form>
</div>
