<header class="site-header">
  <nav class="navbar">
    <h4>Travel</h4>

    <ul role="list">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Tour Packages</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Explore places</a></li>
    </ul>
  </nav>

  <section class="intro">
    <h1>Book an exclusive</h1>
    <h3>home for your personal travel</h3>
    <p>
      Each property is hand-picked,<br />
      personally visited and cannot be found elsewhere.
    </p>

    <a href="#">Explore homes</a>
  </section>

  <img
    src="../../../assets/images/landing-photo.jpg"
    alt="landing photo"
    class="background-img"
  />
</header>
