<header class="site-header">
  <nav class="navbar">
    <h4 routerLink="/main">Travel</h4>

    <ul role="list">
      <div class="login-register" *ngIf="!isLoggedIn">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </div>

      <div class="destination" *ngIf="isLoggedIn">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/add-destination">Add Destination</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </div>
      <li class="destinations"><a routerLink="/main">Destination types</a></li>
      <li class="destinations">
        <a routerLink="/destinations">View all places</a>
      </li>
    </ul>
  </nav>

  <section class="intro">
    <h3>Choose your next destination</h3>
  </section>

  <img
    src="../../../assets/images/landing-photo.jpg"
    alt="landing photo"
    class="background-img"
  />
</header>
