<main class="main">
  Welcome message

  <ul class="destination-types">
    <li>
      <h3>Mountain destinations</h3>
      <a routerLink="mountain"
        ><img src="../../assets/images/mountain.jpeg" alt=""
      /></a>
    </li>
    <li>
      <h3>Town destinations</h3>
      <a routerLink="town"
        ><img src="../../assets/images/town.jpeg" alt=""
      /></a>
    </li>
    <li>
      <h3>Sea destinations destinations</h3>
      <a routerLink="sea"><img src="../../assets/images/sea.jpeg" alt="" /></a>
    </li>
  </ul>
</main>
