<main class="main">
  <div class="intro">
    <p>Welcome to our forum, please select destination type</p>
    <p>Or <button routerLink="/destinations">view all places</button></p>
  </div>

  <ul class="destination-types">
    <li>
      <h3>Mountain destinations</h3>
      <a routerLink="Mountain"
        ><img src="../../assets/images/mountain.jpeg" alt=""
      /></a>
    </li>
    <li>
      <h3>Town destinations</h3>
      <a routerLink="Town"
        ><img src="../../assets/images/town.jpeg" alt=""
      /></a>
    </li>
    <li>
      <h3>Sea destinations destinations</h3>
      <a routerLink="Sea"><img src="../../assets/images/sea.jpeg" alt="" /></a>
    </li>
  </ul>
</main>
